@page "/config/liabilitynames"

@* @layout NavigationLayout *@

<head>
    <title>Liability Names</title>
    <style>
        body {
            font-family: Consolas;
            margin: 10px;
        }

        table {
            width: 50%;
            border-collapse: collapse;
            margin-bottom: 10px;
        }

        td {
            border: 1px solid grey;
            padding-left: 10px;
            padding-right: 10px;
        }

        th {
            background-color: lightgrey;
            font-size: 24px;
            padding: 10px;
            border: 1px solid grey;
            text-align: center;
        }

        input {
            margin-top: 4px;
            margin-bottom: 4px;
            width: 100%;
            padding: 2px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <h1>Liabilities Names</h1>
    <p>Enter your Liability names below</p>

    <table id="liabilitiesTable">
        <thead>
            <tr>
                <th>Liability Type</th>
                <th>Nickname</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rent/Mortgage</td>
                <td><input type="text" id="rentMortgageText" placeholder="i.e. Rent" /></td>
            </tr>
            <tr>
                <td>Vehicle #1 Loan</td>
                <td><input type="text" id="vehicleOneText" placeholder="i.e. Toyota Camry" /></td>
            </tr>
            <tr>
                <td>Vehicle #2 Loan</td>
                <td><input type="text" id="vehicleTwoText" placeholder="i.e. Ford 150" /></td>
            </tr>
            <tr>
                <td>Vehicle #3 Loan</td>
                <td><input type="text" id="vehicleThreeText" placeholder="i.e. Yamaha R6" /></td>
            </tr>
            <tr>
                <td>Loan/Debt #1</td>
                <td><input type="text" id="debtOne" placeholder="i.e Student Loans" /></td>
            </tr>
            <tr>
                <td>Loan/Debt #2</td>
                <td><input type="text" id="debtTwo" placeholder="i.e Angel Loan from Dad" /></td>
            </tr>
            <tr>
                <td>Loan/Debt #3</td>
                <td><input type="text" id="debtThree" placeholder="i.e Conventional Loan" /></td>
            </tr>
            <tr>
                <td>Credit Card #1</td>
                <td><input type="text" id="creditOne" placeholder="i.e. USAA Card" /></td>
            </tr>
            <tr>
                <td>Credit Card #2</td>
                <td><input type="text" id="creditTwo" placeholder="i.e Amazon Card" /></td>
            </tr>
            <tr>
                <td>Credit Card #3</td>
                <td><input type="text" id="creditThree" placeholder="i.e. Unlimited Citi Cashback" /></td>
            </tr>
        </tbody>
    </table>
    <div class="btn btn-primary">Save Liability Names</div>

</body>

@code {

}
